*{
    margin: 0;
    padding: 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111827;
    color: white;
}
.nav-Links{
    display: flex;
    gap: 50px;
    list-style: none;
    cursor: pointer;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.resume-btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}